.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.password-check-box {
  width: 600px;
  height: 414px;
  border: 2px solid #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.title {
  color: #008dda;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #a9a9a9;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0;
}

.input-group {
  margin-top: 50px;
}

.input-table {
  width: 100%; /* 부모 요소(container)의 전체 너비를 차지하도록 설정 */
  margin: 0 auto; /* 가로로 가운데 정렬 */
  display: table; /* 테이블처럼 동작하도록 설정 */
  border-collapse: collapse;
  border-top: solid #0c2d57;
}

.input-row {
  display: table-row; /* 각 tr 요소가 테이블 행처럼 동작하도록 설정 */
  border-bottom: solid #c9c9c9;
}

.input-label {
  display: table-cell; /* 각 td 요소가 테이블 셀처럼 동작하도록 설정 */
  padding: 10px;
  background-color: #f8f8f8;
}

.input-value {
  display: table-cell; /* 각 td 요소가 테이블 셀처럼 동작하도록 설정 */
  padding: 10px 20px;
  text-align: left;
}

.input-field {
  width: calc(100% - 50px);
  padding: 5px 10px;
  margin: 7px 0;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
}

.button-group {
  margin-top: 50px;
}

.cancel-button,
.confirm-button {
  width: 220px;
  height: 45px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-button {
  border: 1px solid #008dda;
  color: #008dda;
  background-color: white;
}

.confirm-button {
  border: none;
  color: white;
  background-color: #008dda;
}
